<a href="https://colab.research.google.com/github/vence-andersen/M5-Forecasting-Accuracy/blob/main/models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Removables**

In [1]:
# from google.colab import files
# files.upload()

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle competitions download -c m5-forecasting-accuracy

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
sell_prices.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
sales_train_evaluation.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
sales_train_validation.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
sample_submission.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
calendar.csv: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
!unzip sales_train_evaluation.csv.zip
!unzip sales_train_validation.csv.zip
!unzip sample_submission.csv.zip
!unzip sell_prices.csv.zip

Archive:  sales_train_evaluation.csv.zip
replace sales_train_evaluation.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: Archive:  sales_train_validation.csv.zip
replace sales_train_validation.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: Archive:  sample_submission.csv.zip
replace sample_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: Archive:  sell_prices.csv.zip
replace sell_prices.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
! pip install downcast
! pip install catboost

Requirement already satisfied: downcast in /usr/local/lib/python3.6/dist-packages (0.0.8)
Requirement already satisfied: catboost in /usr/local/lib/python3.6/dist-packages (0.24.4)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.3.1)

# **Importing modules required**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
from tqdm import tqdm
from lightgbm import LGBMRegressor, Dataset
from sklearn.metrics import mean_squared_error as mse
from downcast import reduce
import warnings
warnings.filterwarnings("ignore")
from catboost import CatBoostRegressor
from xgboost import XGBRegressor

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_pickle('/content/drive/MyDrive/new.pkl')
data.head(2)

             id  item_id  ...  rolling_median_28  rolling_median_56
30490000  14370     1437  ...                0.0                0.0
30490001  14380     1438  ...                0.0                0.0

[2 rows x 32 columns]

In [ ]:
data.drop(['rolling_median_5','rolling_median_7','rolling_median_28','rolling_median_56'],axis=1, inplace=True)

# **Train, Test, Cross Validation for the model**

In [ ]:
X_test

             id  item_id  dept_id  cat_id  ...  lag_49  lag_56  lag_63  lag_70
59181090  14370     1437        3       1  ...     0.0     1.0     1.0     0.0
59181091  14380     1438        3       1  ...     0.0     1.0     0.0     0.0
59181092  14390     1439        3       1  ...     0.0     0.0     0.0     0.0
59181093  14400     1440        3       1  ...     1.0     0.0     4.0     3.0
59181094  14410     1441        3       1  ...     0.0     1.0     2.0     2.0
...         ...      ...      ...     ...  ...     ...     ...     ...     ...
60034805  14329     1432        2       0  ...     0.0     1.0     0.0     0.0
60034806  14339     1433        2       0  ...     0.0     0.0     0.0     1.0
60034807  14349     1434        2       0  ...     1.0     0.0     0.0     2.0
60034808  14359     1435        2       0  ...     0.0     3.0     1.0     2.0
60034809  14369     1436        2       0  ...     1.0     0.0     0.0     0.0

[853720 rows x 27 columns]

In [ ]:
# Now we are splitting our data into, Train, Test, Cross Validate.
# Being a time series model, we are splitting the data based on time.

# Records till day 1914 will be used for training the model.
X_train = data[data['day']<1914]

# Records between days 1914 and 1941 will be used for Validation
X_val = data[(data['day']>=1914) & (data['day']<=1941)]

# Records after day 1942 will used for final test
X_test = data[(data['day']>=1942)]

y_train = X_train['demand']
y_val = X_val['demand']

# We are drpping the features which are not required.
X_train.drop(['demand'],axis = 1,inplace = True)
X_val.drop(['demand'],axis = 1,inplace = True)
X_test.drop(['demand'],axis = 1,inplace = True)

print(X_train.shape,y_train.shape)
print(X_val.shape,y_val.shape)
print(X_test.shape)

(27837370, 27) (27837370,)
(853720, 27) (853720,)
(853720, 27)

# **LightGBM**

In [ ]:
# We are training our model with multiple parameter values to get the best parameter to be used for the model.

# We are randomly creating values to chose the best model out of it.
for i in range(15):
    lr = np.round(np.random.rand()/10,3)
    num_leaves = np.random.randint(30,150)
    min_data_in_leaf = np.random.randint(50,150)

    lgb = LGBMRegressor( learning_rate=lr ,
                            num_leaves=num_leaves ,
                            min_data_in_leaf=min_data_in_leaf)

    lgb.fit(X_train, y_train)

    # After training the model, we are trying to predict the model on X_val to check it's accuracy
    y_pred = lgb.predict(X_val)

    # Now that it has predicted the values for X_val, we are calculating it's rmse
    rmse = mse(y_val,y_pred)
    
    print(f"For learning rate {lr}, num_leaves {num_leaves} and min_data_in_leaf {min_data_in_leaf} the RMSE is {rmse} ")
    print('*'*80)

For learning rate 0.002, num_leaves 88 and min_data_in_leaf 101 the RMSE is 10.832683887724896
********************************************************************************
For learning rate 0.098, num_leaves 75 and min_data_in_leaf 137 the RMSE is 4.968174905835645
********************************************************************************
For learning rate 0.002, num_leaves 141 and min_data_in_leaf 112 the RMSE is 10.79968686064402
********************************************************************************
For learning rate 0.046, num_leaves 48 and min_data_in_leaf 59 the RMSE is 5.087707910063227
********************************************************************************
For learning rate 0.003, num_leaves 127 and min_data_in_leaf 121 the RMSE is 9.869213241625621
********************************************************************************
For learning rate 0.048, num_leaves 83 and min_data_in_leaf 60 the RMSE is 5.048882772795383
********************************************************************************
For learning rate 0.018, num_leaves 122 and min_data_in_leaf 99 the RMSE is 5.45109618186815
********************************************************************************
For learning rate 0.092, num_leaves 94 and min_data_in_leaf 102 the RMSE is 4.964911198706563
********************************************************************************
For learning rate 0.035, num_leaves 120 and min_data_in_leaf 52 the RMSE is 5.052370000520113
********************************************************************************
For learning rate 0.066, num_leaves 106 and min_data_in_leaf 55 the RMSE is 4.972701814176838
********************************************************************************
For learning rate 0.084, num_leaves 123 and min_data_in_leaf 79 the RMSE is 4.960330398225175
********************************************************************************
For learning rate 0.044, num_leaves 94 and min_data_in_leaf 83 the RMSE is 5.03466072012475
********************************************************************************
For learning rate 0.074, num_leaves 135 and min_data_in_leaf 85 the RMSE is 4.950359727619904
********************************************************************************
For learning rate 0.062, num_leaves 137 and min_data_in_leaf 100 the RMSE is 4.968524038750963
********************************************************************************
For learning rate 0.02, num_leaves 33 and min_data_in_leaf 63 the RMSE is 5.449006741674285
********************************************************************************

In [ ]:
# After running several combinations, we found these parameter values to give best result

learning_rate = 0.074
num_leaves = 135
min_data_in_leaf = 85

In [ ]:
# Now that we have found the best model which has the lowest RMSE score, we are using that parameter values to retrain the model.

lgb = LGBMRegressor( learning_rate=learning_rate ,
                           num_leaves=num_leaves ,
                           min_data_in_leaf=min_data_in_leaf)

lgb.fit(X_train, y_train)
y_pred = lgb.predict(X_val)

# Now that it has predicted the values for X_val, we are calculating it's rmse
rmse = mse(y_val,y_pred)
print(f"For learning rate {learning_rate}, num_leaves {num_leaves} and min_data_in_leaf {min_data_in_leaf} the RMSE is {rmse} ")

For learning rate 0.074, num_leaves 135 and min_data_in_leaf 85 the RMSE is 4.950359727619904

In [ ]:
# Now we are predicting the values for teh X_val and X_test for the submission

pred_val_array  = lgb.predict(X_val)
pred_test_array  = lgb.predict(X_test)

pred_val_array = np.reshape(pred_val_array, (-1, 28),order = 'F')
pred_test_array = np.reshape(pred_test_array, (-1, 28),order = 'F')

In [ ]:
sub = pd.read_csv("sample_submission.csv")
sub_1 = sub.iloc[:30490,:]
sub_2 = sub.iloc[30490:,:]
f_cols = sub.columns[1:]

for i in range(len(f_cols)):
    sub_1[f_cols[i]] = pred_val_array[:,i]
    sub_2[f_cols[i]] = pred_test_array[:,i]

sub = pd.concat([sub_1,sub_2])
sub

                                  id        F1  ...       F27       F28
0      HOBBIES_1_001_CA_1_validation  0.799588  ...  1.437780  0.864342
1      HOBBIES_1_002_CA_1_validation  0.479410  ...  0.351893  0.317738
2      HOBBIES_1_003_CA_1_validation  0.385282  ...  0.593700  0.886735
3      HOBBIES_1_004_CA_1_validation  2.104940  ...  2.932608  2.664173
4      HOBBIES_1_005_CA_1_validation  1.102642  ...  1.227127  1.899966
...                              ...       ...  ...       ...       ...
60975    FOODS_3_823_WI_3_evaluation  0.424802  ...  0.494413  0.825367
60976    FOODS_3_824_WI_3_evaluation  0.524135  ...  0.662989  0.327479
60977    FOODS_3_825_WI_3_evaluation  1.207754  ...  0.664861  0.927193
60978    FOODS_3_826_WI_3_evaluation  0.900915  ...  1.098043  1.116738
60979    FOODS_3_827_WI_3_evaluation  1.185825  ...  2.047423  1.186193

[60980 rows x 29 columns]

In [ ]:
sub.to_csv("lgb_sub_Final.csv",index = False)

In [ ]:
!kaggle competitions submit -c m5-forecasting-accuracy -f lgb_sub_Final.csv -m "Test"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
100% 32.7M/32.7M [00:01<00:00, 19.9MB/s]
Successfully submitted to M5 Forecasting - Accuracy

![image.png]()

# **CATBOOST**

In [ ]:
# We are training our model with multiple parameter values to get the best parameter to be used for the model.

# We are randomly creating values to chose the best model out of it.
for i in range(8):
    lr = np.round(np.random.rand()/10,3)
    num_leaves = np.random.randint(30,150)
    min_data_in_leaf = np.random.randint(50,150)

    cbr = CatBoostRegressor(learning_rate=lr ,
                        # num_leaves=num_leaves ,
                        min_data_in_leaf=min_data_in_leaf,
                        logging_level="Silent", iterations=130)

    cbr.fit(X_train, y_train)

    # After training the model, we are trying to predict the model on X_val to check it's accuracy
    y_pred = cbr.predict(X_val)

    # Now that it has predicted the values for X_val, we are calculating it's rmse
    rmse = mse(y_val,y_pred)
    
    print(f"For learning rate {lr}, num_leaves {num_leaves} and min_data_in_leaf {min_data_in_leaf} the RMSE is {rmse} ")
    print('*'*80)

For learning rate 0.019, num_leaves 100 and min_data_in_leaf 102 the RMSE is 5.419876429147273
********************************************************************************
For learning rate 0.008, num_leaves 122 and min_data_in_leaf 81 the RMSE is 6.850490625428555
********************************************************************************
For learning rate 0.001, num_leaves 69 and min_data_in_leaf 83 the RMSE is 11.78894793346842
********************************************************************************
For learning rate 0.049, num_leaves 148 and min_data_in_leaf 140 the RMSE is 5.097142515545817
********************************************************************************
For learning rate 0.076, num_leaves 51 and min_data_in_leaf 74 the RMSE is 5.053819531311917
********************************************************************************
For learning rate 0.083, num_leaves 72 and min_data_in_leaf 132 the RMSE is 5.05435332052517
********************************************************************************
For learning rate 0.028, num_leaves 131 and min_data_in_leaf 140 the RMSE is 5.2117395331271075
********************************************************************************
For learning rate 0.008, num_leaves 77 and min_data_in_leaf 143 the RMSE is 6.850490625428555
********************************************************************************

In [ ]:
# After running several combinations, we found these parameter values to give best result

learning_rate = 0.076
min_data_in_leaf = 74

In [ ]:
# Now that we have found the best model which has the lowest RMSE score, we are using that parameter values to retrain the model.

cbr = CatBoostRegressor(learning_rate=learning_rate, min_data_in_leaf = min_data_in_leaf, iterations=100, logging_level="Silent")

cbr.fit(X_train, y_train)
y_pred = cbr.predict(X_val)

# Now that it has predicted the values for X_val, we are calculating it's rmse
rmse = mse(y_val,y_pred)
print(f"For learning rate {learning_rate}, num_leaves {num_leaves} and min_data_in_leaf {min_data_in_leaf} the RMSE is {rmse} ")

For learning rate 0.076, num_leaves 77 and min_data_in_leaf 74 the RMSE is 5.0757273973153305

In [ ]:
# Now we are predicting the values for teh X_val and X_test for the submission

pred_val_array  = cbr.predict(X_val)
pred_test_array  = cbr.predict(X_test)

pred_val_array = np.reshape(pred_val_array, (-1, 28),order = 'F')
pred_test_array = np.reshape(pred_test_array, (-1, 28),order = 'F')

In [ ]:
sub = pd.read_csv("sample_submission.csv")
sub_1 = sub.iloc[:30490,:]
sub_2 = sub.iloc[30490:,:]
f_cols = sub.columns[1:]

for i in range(len(f_cols)):
    sub_1[f_cols[i]] = pred_val_array[:,i]
    sub_2[f_cols[i]] = pred_test_array[:,i]

sub = pd.concat([sub_1,sub_2])
sub

                                  id        F1  ...       F27       F28
0      HOBBIES_1_001_CA_1_validation  0.759291  ...  1.170368  0.900737
1      HOBBIES_1_002_CA_1_validation  0.474225  ...  0.357849  0.331448
2      HOBBIES_1_003_CA_1_validation  0.383375  ...  0.550524  0.751260
3      HOBBIES_1_004_CA_1_validation  2.019737  ...  2.719613  2.624107
4      HOBBIES_1_005_CA_1_validation  0.982999  ...  1.109122  1.698049
...                              ...       ...  ...       ...       ...
60975    FOODS_3_823_WI_3_evaluation  0.417199  ...  0.457451  0.797685
60976    FOODS_3_824_WI_3_evaluation  0.517335  ...  0.555553  0.303766
60977    FOODS_3_825_WI_3_evaluation  1.092730  ...  0.584029  0.865797
60978    FOODS_3_826_WI_3_evaluation  0.967560  ...  1.094511  1.043804
60979    FOODS_3_827_WI_3_evaluation  1.467295  ...  2.212197  1.139718

[60980 rows x 29 columns]

In [ ]:
sub.to_csv("cbr_sub_V2.csv",index = False)

In [ ]:
!kaggle competitions submit -c m5-forecasting-accuracy -f cbr_sub_V2.csv -m "First CatBoost Model"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
100% 32.7M/32.7M [00:01<00:00, 22.5MB/s]
Successfully submitted to M5 Forecasting - Accuracy

![image.png]()

In [ ]:
for i in range(10):
    lr = np.round(np.random.rand()/10,3)
    min_child_weight  = np.random.randint(30,150)
    max_leaves = np.random.randint(30,100)

    xgb = XGBRegressor(objective='reg:squarederror',tree_method = 'hist', learning_rate = lr,min_child_weight = min_child_weight, 
                       subsample = 0.7, colsample_bytree = 0.7, n_estimators = 100,grow_policy = 'lossguide',
                       max_leaves = max_leaves, n_jobs=-1 ) 
    
    xgb.fit(X_train,y_train)
    y_pred = xgb.predict(X_val)
    rmse = mse(y_val,y_pred)

    print(f"For learning rate {lr}, min_child_weight {min_child_weight} and max_leaves {max_leaves} the RMSE is {rmse} ")
    print('*'*80)

For learning rate 0.071, min_child_weight 97 and max_leaves 74 the RMSE is 5.130997235548195
********************************************************************************
For learning rate 0.074, min_child_weight 119 and max_leaves 86 the RMSE is 5.114757907043766
********************************************************************************
For learning rate 0.05, min_child_weight 115 and max_leaves 60 the RMSE is 5.170266210649444
********************************************************************************
For learning rate 0.044, min_child_weight 59 and max_leaves 68 the RMSE is 5.20024316505762
********************************************************************************
For learning rate 0.017, min_child_weight 139 and max_leaves 98 the RMSE is 5.965988773280025
********************************************************************************
For learning rate 0.06, min_child_weight 55 and max_leaves 79 the RMSE is 5.144295820247376
********************************************************************************
For learning rate 0.019, min_child_weight 64 and max_leaves 86 the RMSE is 5.793927985519174
********************************************************************************
For learning rate 0.054, min_child_weight 110 and max_leaves 30 the RMSE is 5.162386340822918
********************************************************************************
For learning rate 0.011, min_child_weight 81 and max_leaves 58 the RMSE is 6.943469972974041
********************************************************************************
For learning rate 0.041, min_child_weight 84 and max_leaves 44 the RMSE is 5.21278513097641
********************************************************************************

In [ ]:
lr = 0.074
min_child_weight  = 119
max_leaves = 86

In [ ]:
# Now that we have found the best model which has the lowest RMSE score, we are using that parameter values to retrain the model.

xgb = XGBRegressor(objective='reg:squarederror',tree_method = 'hist', learning_rate = lr,min_child_weight = min_child_weight, 
                       subsample = 0.7, colsample_bytree = 0.7, n_estimators = 100,grow_policy = 'lossguide',
                       max_leaves = max_leaves, n_jobs=-1 )
xgb.fit(X_train, y_train)
y_pred = xgb.predict(X_val)

# Now that it has predicted the values for X_val, we are calculating it's rmse
rmse = mse(y_val,y_pred)
print(f"For learning rate {lr}, min_child_weight {min_child_weight} and max_leaves {max_leaves} the RMSE is {rmse} ")

For learning rate 0.074, min_child_weight 119 and max_leaves 86 the RMSE is 5.114757907043766

In [ ]:
# Now we are predicting the values for teh X_val and X_test for the submission

pred_val_array  = xgb.predict(X_val)
pred_test_array  = xgb.predict(X_test)

pred_val_array = np.reshape(pred_val_array, (-1, 28),order = 'F')
pred_test_array = np.reshape(pred_test_array, (-1, 28),order = 'F')

In [ ]:
sub = pd.read_csv("sample_submission.csv")
sub_1 = sub.iloc[:30490,:]
sub_2 = sub.iloc[30490:,:]
f_cols = sub.columns[1:]

for i in range(len(f_cols)):
    sub_1[f_cols[i]] = pred_val_array[:,i]
    sub_2[f_cols[i]] = pred_test_array[:,i]

sub = pd.concat([sub_1,sub_2])
sub

                                  id        F1  ...       F27       F28
0      HOBBIES_1_001_CA_1_validation  0.835742  ...  1.245363  0.832943
1      HOBBIES_1_002_CA_1_validation  0.441333  ...  0.313442  0.293158
2      HOBBIES_1_003_CA_1_validation  0.342639  ...  0.532103  0.754865
3      HOBBIES_1_004_CA_1_validation  2.048544  ...  2.582619  2.777621
4      HOBBIES_1_005_CA_1_validation  0.978402  ...  1.139363  1.863808
...                              ...       ...  ...       ...       ...
60975    FOODS_3_823_WI_3_evaluation  0.411936  ...  0.491698  0.831563
60976    FOODS_3_824_WI_3_evaluation  0.506807  ...  0.557409  0.319497
60977    FOODS_3_825_WI_3_evaluation  1.246269  ...  0.566021  0.914211
60978    FOODS_3_826_WI_3_evaluation  0.964555  ...  0.982772  1.077861
60979    FOODS_3_827_WI_3_evaluation  1.429236  ...  2.148829  0.990202

[60980 rows x 29 columns]

In [ ]:
sub.to_csv("xgb_sub_V1.csv",index = False)

In [ ]:
!kaggle competitions submit -c m5-forecasting-accuracy -f xgb_sub_V1.csv -m "First XGBoost Model"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
100% 18.5M/18.5M [00:03<00:00, 5.59MB/s]
Successfully submitted to M5 Forecasting - Accuracy

![image.png]()